header {
  font-family: Poppins, sans-serif;
  background-color: white;
  color: white;
  padding: 10px;
  text-align: center;
}

.homeBackground {
  width: 100%;
  background: url(./Assets/homepageBackground.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.contactUsBackground {
  width: 100%;
  background: url(./Assets/contactUsBackground.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #ffd3f3;
}

.icon {
  display: inline;
  float: left;
}

.logoPrint {
  display: inline;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  overflow: visible;
  color: white;
  float: left;
  position: absolute;
  margin-top: 10px;
  margin-left: 12px;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #000000;
}

.welcomeMe {
  position: absolute;
  width: 130px;
  height: 55px;
  left: 560px;
  top: 417px;
}

.homepageCopy {
  position: absolute;
  width: 400px;
  height: 30px;
  left: 235px;
  top: 470px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.115em;
  color: #000000;
}

.menu {
  display: flex;
  float: right;
  margin-right: 20px;
}

.menu ul {
  list-style-type: none;
  width: 370px;
  display: flex;
  flex: auto;
  justify-content: space-between;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  color: #af8066;
  text-decoration: none;
  transition: 0.4s, ease-in-out;
}

ul li a:hover {
  color: white;
}

.shoppingCart {
  margin-top: -8px;
  border: none;
  background: none;
}

#orderNowRect {
  padding-bottom: 7px;
  border-bottom: 5px solid #fa87da;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#contactUsRect {
  padding-bottom: 7px;
  border-bottom: 5px solid #fa87da;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#shoppingCartRect {
  padding-bottom: 7px;
  border-bottom: 5px solid #fa87da;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#cart {
  position: fixed;
  right: 0;
  left: 75%;
  top: 0;
  bottom: 0;
  height: 100%;
  justify-content: space-around;
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
  z-index: 10;
  transform: translateX(102%);
}

#cart.active {
  transform: translateX(0%);
}

.cartClose {
  position: relative;
  display: block;
  top: 2%;
  left: 2%;
  border: none;
  background: none;
}

#cart h1 {
  font-size: 25px;
}

#cart ul {
  list-style: none;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  float: left;
}

.cartActions button {
  border: none;
  background: #ffd3f3;
  box-shadow: -6px 6px 0px #fa87da;
  border-radius: 16px;
  transition: 0.25s ease-in-out;
}

.checkoutButton {
  width: 166px;
  height: 45px;
}

.checkoutButton h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 23px;
  color: #af8066;
  margin: auto;
}

.continueShoppingButton {
  width: 240px;
  height: 45px;
}

.continueShoppingButton h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 23px;
  color: #af8066;
  margin: auto;
}

.cartActions button:hover {
  background: #ffbced;
}

.cartActions {
  position: absolute;
  left: 17%;
  display: block;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding-bottom: 25px;
}

.getStarted {
  position: absolute;
  right: 60px;
  top: 340px;
}
.getStarted > * {
  float: right;
}

.orderNowButton {
  position: absolute;
  top: 200px;
  right: 10px;
}

td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 30px;
}

.divItem {
  margin: 0px 50px 0px 50px;
  border: 4px solid #fa87da;
  border-radius: 16px;
  border-spacing: 100px;
  width: 187px;
  height: 187px;
}

.divItemSelect {
  margin: 0px 50px 0px 50px;
  border: 4px solid #fa87da;
  border-radius: 16px;
  border-spacing: 100px;
  width: 187px;
  height: 187px;
  background: #fa87da;
}

.packSizeTable {
  /* position: absolute; */
  margin: 50px auto 200px;
  /* left: 100px;
  top: 300px; */
}

.packLabel {
  margin-top: 40px;
}

.inactiveNext {
  display: block;
  margin-top: 20px;
  margin-right: 5%;
  float: right;
}

.progress {
  display: flex;
  width: 100%;
}

.backButton {
  position: absolute;
  left: 3%;
  top: 70px;
}

.progressBarImg {
  display: inline;
  margin: 50px auto 0px;
}

.progressBarLabel {
  display: inline;
}

.progressBarLabels {
  display: flex;
  margin: 0px auto;
  text-align: center;
  flex: auto;
  justify-content: space-between;
  width: 340px;
}

.countdown {
  display: flex;
  margin: 0px auto;
  text-align: center;
  align-items: center;
  flex: auto;
  justify-content: space-between;
  width: 30px;
  font-size: 17px;
  color: #af8066;
}

#selectionsLeft {
  display: inline;
}

#selectionsLeft p {
  display: none;
  user-select: none;
}

#selectionsLeft p:nth-child(1) {
  display: initial;
}

.totalAmountText {
  display: inline;
}

.optionsPanel {
  display: block;
  width: 1200px;
  height: 372px;
  overflow-y: scroll;
  margin: 0px auto;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* track */
::-webkit-scrollbar-track {
  background: none;
}

/* bar */
::-webkit-scrollbar-thumb {
  background: #ffd3f3;
  border-radius: 5px;
}

/* bar on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffbced;
}

.flavors {
  display: block;
  margin: 20px 0px;
  overflow: hidden;
}

.flavorImg {
  display: inline;
  float: left;
}

.flavorLabel {
  display: inline;
  font-size: 22px;
  line-height: 20px;
  float: left;
  padding-left: 10px;
}

#originalOverlaySpinner {
  position: absolute;
  left: 455px;
  top: 322px;
  width: 198px;
  height: 62px;
  background: #ffd3f3;
  border-radius: 6px;
  transition: 0.5s;
}

.minusButtonOverlay {
  width: 31px;
  height: 31px;
}

.plusButtonOverlay {
  width: 31px;
  height: 31px;
}

#valueBoxOverlay span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 15%;
  text-align: center;
  line-height: 39px;
  display: none;
  font-size: 26px;
  user-select: none;
}

#valueBoxOverlay span:nth-child(1) {
  display: initial;
}

/* #originalOverlaySquare {
  position: absolute;
  display: block;
  top: 13%;
  left: 38%;
  width: 31px;
  height: 31px;
  background: #ffffff;
  border-radius: 6px;
} */

.quantitySpinner {
  position: relative;
  display: flex;
  float: left;
  margin-left: 40px;
  width: 131px;
  height: 41px;
  background: #ffd3f3;
  border-radius: 6px;
  transition: 0.5s;
}

.quantitySpinner .minusButton {
  position: absolute;
  top: 25%;
  left: 5%;
  display: block;
  z-index: 1;
  cursor: pointer;
}

.quantitySpinner .plusButton {
  position: absolute;
  top: 25%;
  right: 5%;
  display: block;
  z-index: 1;
  cursor: pointer;
}

.valueBoxSquare {
  position: absolute;
  display: block;
  top: 13%;
  left: 38%;
  width: 31px;
  height: 31px;
  background: #ffffff;
  border-radius: 6px;
}

/* original quantity */
#valueBox span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 15%;
  text-align: center;
  line-height: 33px;
  display: none;
  font-size: 22px;
  user-select: none;
}

#valueBox span:nth-child(1) {
  display: initial;
}

/* blueberry quantity */
#valueBoxBlueberry span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 15%;
  text-align: center;
  line-height: 33px;
  display: none;
  font-size: 22px;
  user-select: none;
}

#valueBoxBlueberry span:nth-child(1) {
  display: initial;
}

.dummyAmountSelector {
  display: inline;
  float: left;
  padding-left: 40px;
}

.infoButton {
  border: none;
  background: none;
  display: inline;
  float: right;
  padding-right: 10px;
}

.optionsSeparater {
  transition: height 0.3s ease-in-out;
  display: block;
  width: auto;
  height: 5px;
  border-radius: 20px;
  background-color: #ffd3f3;
  margin: 64px 0px 0px;
}

.optionsSeparater:hover {
  width: auto;
  height: 100px;
}

.glazingGroup {
  justify-content: center;
}

.glazingOptions {
  border: none;
  border-radius: 6px;
}

#glazingDropdownLabel {
  font-family: Poppins;
  font-weight: bold;
  /* font-size: 10px;
  line-height: 15px; */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
}

.glazingOption {
  font-family: Poppins;
  letter-spacing: 0.07em;
}

.originalOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
}

.originalOverlay.active {
  transform: translate(-50%, -50%) scale(1);
}

.blueberryOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
}

.blueberryOverlay.active {
  transform: translate(-50%, -50%) scale(1);
}

.walnutOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
}

.walnutOverlay.active {
  transform: translate(-50%, -50%) scale(1);
}

.originalGlutenFreeOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
}

.originalGlutenFreeOverlay.active {
  transform: translate(-50%, -50%) scale(1);
}

.pumpkinSpiceOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
}

.pumpkinSpiceOverlay.active {
  transform: translate(-50%, -50%) scale(1);
}

.caramelPecanOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
}

.caramelPecanOverlay.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlayHeader {
  padding: 10px 15px;
  display: flex;
}

.overlayHeader .close {
  position: fixed;
  left: 980px;
  border: none;
  outline: none;
  background: none;
  float: right;
  top: 50px;
  cursor: pointer;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.form {
  position: absolute;
  top: 15%;
  left: 5%;
  justify-content: space-around;
}

#firstName {
  width: 288px;
  height: 39px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  margin: 20px 20px 40px 0px;
}

#lastName {
  width: 288px;
  height: 39px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  margin: 20px 0px 40px;
}

#email {
  width: 465px;
  height: 39px;
  display: block;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  margin-bottom: 40px;
}

#comment {
  display: block;
  width: 602px;
  height: 122px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  margin-bottom: 40px;
}

#submit {
  float: right;
  width: 135px;
  height: 39px;
  background: #ffd3f3;
  box-shadow: -6px 6px 0px #fa87da;
  border: none;
  border-radius: 8px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 19px;
  color: #af8066;
}

#submit value {
  font-family: Poppins;
  font-weight: bold;
  font-size: 19px;
  color: #af8066;
}

.socialMedia {
  position: absolute;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  left: 71%;
  top: 45%;
}

.socialMedia h1 {
  font-family: Poppins;
  font-size: 31px;
  color: #ffffff;
}
